*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background: #1d1d1d; */
    font-family: 'Poppins' , sans-serif;
}

body{
    background-color: #1f1f1f;
}

nav{
    width: 100%;
    height: 80px;
    position: sticky;
    background-color: #181818;
    box-shadow: 1px 0px 10px 4px rgb(0,0,0,0.5);
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 999;
    margin: 0 auto;
    padding: 0 30px;
}

#logo {
    text-decoration: none;
    color: pink;
    font-size: 2rem;

}

/* just to change the thing to pink */
#logo span {
    color: hotpink;
}

.nav__menu {
    /* background: red; */
    display: flex;
    margin-left: 60px;
}

.nav__items {
    /* background: green; */
    display: inline;
    padding-left: 30px;
    margin: 0 auto; 
}

.nav__links {
    text-decoration: none;
    font-weight: 200;
    color: white;
    transition: all 0.3s ease;
}

.nav__links:hover {
    color: hotpink;
    transition: all 0.3s ease;
}

/* main canvas index */

#homeCanvasBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    /* z-index: 99; */
    padding: 0;
}

/* Main section */

.home__title{
    position:relative;
    z-index: 20;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* margin-left: 60px; */
    /* margin-left: 20%; */
    justify-content: center;
    /* align-items: center; */
    user-select: none;
}

.home__welcome__container{
    max-width: 700px;
    /* margin-right:600px; */
    margin-left: 250px;
}

.home__title__main{
    margin-top: 40px;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 5rem;
    font-weight: 300;
    /* padding-right: 100px; */
    /* margin-left: 60px; */
    line-height: 80px;
}

.physim1{
    color: pink;
    font-weight: 400;
}

.physim2{
    color: hotpink;
    font-weight: 400;
}

.home__about{
    display: flex;

    margin-top: 20px;
    font-weight: 200;
    font-size: 1.3rem;
    /* width: 700px; */
}

.home__sim__btn{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    gap: 15px;
}

.home__sim__btn p{
    font-weight: 100;
    font-size: large;
}

.home__sim__btn button{
    padding: 14px 32px;
    background-image: linear-gradient(to top, #ff0080 0%,#f8174f 100%);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    box-shadow: 1px 0px 13px 3px rgba(255, 0, 85, 0.5);;
}

.home__sim__btn a{
    text-decoration: none;
    color: white;
    position: relative;
    font-weight: 300;
    font-size: 26pt;
    z-index: 2;
}

.home__sim__btn button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(to top, #0066ff 0%, #2f2bff 100%);
    
    transition: all 0.35s;
    border-radius: 4px;
}

.home__sim__btn button:hover{
    color: white;
    box-shadow: 0px 0px 0px 0px rgba(255, 0, 85, 0.3);;
}

.home__sim__btn button:hover:after{
    width: 100%;
    box-shadow: 1px 0px 13px 3px rgba(0, 81, 255, 0.5);;
}




.main {
    background-color: #1f1f1f;
    color: white;
    /* padding: 40px; */
    font-family: 'Open Sans', sans-serif;
    display:flex;

}

.main__welcome {
    background: red;
    margin: 40px;
    max-width: 300px;
}

/* cards */

.header__for__cards{
    color: #d3d3d3;
    margin-left: 3rem;
    margin-top: 3rem;
}

.header__for__cards h1{
    font-weight: 500;
}

.header__for__cards h3{
    font-weight: 300;
    color: #d3d3d3a1;
    font-size: 20px;
}

.card__container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin: 50px 50px 30px 30px;
    flex-wrap: wrap;
}

.card__container a{
    text-decoration: none;
}

.card{
    background-color: #1f1f1f;
    text-decoration: none;
    width: 300px;
    border-radius: 15px;
    box-shadow: 1px 0px 13px 2px rgb(0,0,0,0.3);
    transition: ease .2s;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
}

.card__img__container{
    background-color: aqua;
    height: 150px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.img1{
    background-image: url(/res/pend_img.png);
}

.img2{
    background-image: url(/res/bble_img.png);
}

.img3{
    background-image: url(/res/merg_img.png);
}
.img4{
    background-image: url(/res/insert_img.png);
}
.img5{
    background-image: url(/res/sel_img.png);
}



.card h3{
    color: #d3d3d3;
    padding: 15px;
    padding-bottom: 0;
    font-weight: 400;
}

.card p{
    color: #d3d3d38f;
    padding: 0px 20px 20px 20px;
}

/* canvas */

.main__container {
    background-color: #181818;
    display: flex;
    flex-wrap: wrap;
}

canvas {
    padding: 40px;
    background-color: #181818;
    float: left;
}

.slider__contaner {
    width: 100%;
    float:left;

}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 40px;  
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow: 0 1px 10px 10px #1818188e, inset 0 0px 7px 2px #1818188e;
    overflow: hidden;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #ff0780;
    box-shadow: -4007px 0 0 4000px #ff0080;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #ff0780;
    box-shadow: -4007px 0 0 4000px #ff0080;
    cursor: pointer;
  }

  .element__container{
    display: flex;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
  }

  .element{
    background: #272727;
    border-radius: 20px;
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 1px 0px 10px 4px rgb(0,0,0,0.3);
    color: rgba(255, 255, 255, 0.842);
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}

.element h2{
    font-weight: 400;
}

.element p{
    font-weight: 300;
    color: #ffffffb9;
}

.slider__value__container{
    display: flex;
    align-items: baseline;
    width: 100%;
    gap: 10px;
}

.slider__value__container h3{
    font-weight:400;

}


.slider__value{
    padding: 5px;
    font-weight: 200;
}